* {
    font-family: "Share Tech", sans-serif; 
    padding: 0;   
    margin: 0;    
    box-sizing: border-box; 
}

html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    position: sticky;
    z-index: 100; 
    padding: 10px 0; 
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu li a {
    position: relative;
    z-index: 1;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0 20px;
    padding: 5px 15px; 
    display: block;
    transition: 0.5s; 
}


.menu li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    transform: scaleY(2); 
    opacity: 0;
    transition: 0.3s;
}


.menu li a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    transform: scale(0); 
    opacity: 0;
    transition: 0.3s;
    z-index: -1;
}


.menu li a:hover {
    color: #000; 
    transform: scale(1.1); 
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); 
}

.menu li a:hover:before {
    transform: scaleY(1); 
}

.menu li a:hover:after {
    transform: scale(1); 
    opacity: 1;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    color: #ffffff;
    background-image: url(img/carbon5.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    height: 600px;
    width: 100vw;
    text-align: center;
}

.about h1 {
    font-size: 100px;
    position: relative; 
    padding: 20px;     
    margin: 0;
    cursor: pointer;
    color: #ffffff;
}

.about h1::before {
    content: "";
    position: absolute;
    bottom: 30px;     
    left: 0;
    height: 6px;
    width: 100%;
    background-color: #ffffff; 
    border-radius: 50px;
    transform: scaleX(0);      
    transition: transform 0.5s ease; 
}

.about h1:hover::before {
    transform: scaleX(1);
}

.about-e {
    padding: 100px;
    color: #ffffff;
    background-color: #a8a8a8;
    height: 400px;
    font-size: 30px;
    text-align: center;
}

.mission {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    color: #ffffff;
    background-image: url(img/carbon6.jpg);
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat;
    height: 600px;
    width: 100vw;
    text-align: center;
}

.mission h1 {
    font-size: 100px;
    position: relative; 
    padding: 20px;     
    margin: 0;
    cursor: pointer;
    color: #ffffff;
}

.mission h1::before {
    content: "";
    position: absolute;
    bottom: 30px;     
    left: 0;
    height: 6px;
    width: 100%;
    background-color: #ffffff; 
    border-radius: 50px;
    transform: scaleX(0);      
    transition: transform 0.5s ease; 
}

.mission h1:hover::before {
    transform: scaleX(1);
}

.mission-e {
    padding: 100px;
    color: #ffffff;
    background-color: #a8a8a8;
    height: 300px;
    font-size: 30px;
    text-align: center;
}

